APP_NAME=SIAKAD Backend
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8080
APP_READ_TIMEOUT=10s
APP_WRITE_TIMEOUT=10s
APP_IDLE_TIMEOUT=60s
APP_SHUTDOWN_TIMEOUT=10s

MYSQL_ENABLED=true
MYSQL_HOST=192.168.64.5
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=change-me
MYSQL_DATABASE=siakad_db
MYSQL_CHARSET=utf8mb4
MYSQL_COLLATION=utf8mb4_unicode_ci
MYSQL_PARSE_TIME=true
MYSQL_LOC=Local
MYSQL_MAX_OPEN_CONNS=25
MYSQL_MAX_IDLE_CONNS=25
MYSQL_CONN_MAX_LIFETIME=5m
MYSQL_CONN_MAX_IDLE_TIME=5m
